<div class="container">
  <div class="cards-all">
          <% @morties.each do |morty| %>
            <%= link_to morty_path(morty) do%>
              <div class="card card-small" style="width: 18rem;">
                <%= cl_image_tag morty.photo.key %>
                <div class="card-body">
                  <h5 class="card-title header-shadow-small"><%= morty.name%> </h5>
                  <p>State: <%= morty.state %></p>
                  <p>Rarity: <%= morty.rarity %></p>
                  <h6>Price: <%= morty.price %> $</h6>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
</div>

