<div class="container">
  <div class="row card-large bg-light shadow p-5 mb-5 margin-top-80px bg-white d-flex justify-content-center ">
    <h1 class="header-shadow">Add my Morty</h1>
    <div class="mx-auto">
      <br>
      <%= simple_form_for @morty do |f| %>
        <%= f.input :name, placeholder: "Robot Morty" %>
        <%= f.input :price, label: "My lovely Morty is this much", placeholder: "36 Dollars" %>
        <%= f.input :description, placeholder: "Well designed Morty" %>
        <%= f.input :state, label: "Choose between hurt relaxed depressed and angry", placeholder: "Angry" , collection: Morty::STATE  %>
        <%= f.input :rarity, label: "Choose between commun rare and epic", placeholder: "Epic" , collection: Morty::RARITY %>
        <br>
        <%= f.input :photo, as: :file, label: "Choose a nice picture for your Morty" %>
        <br>
        <hr>
        <%= f.button :submit, "Share my Morty", class: "btn-black"%>
      <% end %>
    </div>
  </div>
</div>


