<div class="container">
  <div class="row morty-description bg-light shadow p-3 mb-5 bg-white rounded">
        <div class="col-sm-offset-2 col-sm-8">
            <h1 class="header-shadow">Add my Morty</h1>
    <br>
    <%= simple_form_for @morty do |f| %>
    <%= f.input :name, placeholder: "Robot Morty" %>
    <%= f.input :price, label: "My lovely Morty is this much", placeholder: "36 Dollars" %>
    <%= f.input :description, placeholder: "Well designed Morty" %>
    <%= f.input :state, label: "Choose between hurt relaxed depressed and angry", placeholder: "Angry" , collection: Morty::STATE  %>
    <%= f.input :rarity, label: "Choose between commun rare and epic", placeholder: "Epic" , collection: Morty::RARITY %>
    <br>
    <%= f.input :photo, label: "Choose a nice picture for your Morty" %>
    <br>
    <hr>

    <%= f.button :submit, "Share my Morty", class: "btn btn-danger btn-lg"%>
    <img class="img" src="https://static1.squarespace.com/static/528252b7e4b00150d03a4848/59a2354eebbd1a0623e0cefe/59a2359f6a49631dd5192334/1503802788601/RickAndMorty_RickAngryBurp1500.gif?format=400w">

    <% end %>
  </div>
</div>

