<h1 class="text-center"><%= @morty.name %></h1>

<div class="container">

  <div class="row">
    <div class ="photo-row">
      <div class="col-xs-12 col-sm-6">
        <div class="wagoncard showmaincard">
            <div class="wagoncard-detail">
              <p>Price: <strong> <%= @morty.price %> </strong> </p>
              <p>Actual state of Morty: <strong> <%= @morty.state %> </strong> </p>
              <p>Rarity of Morty: <strong> <%= @morty.rarity %> </strong> </p>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">

      <p> <strong>Description:</strong> </p>
      <p><%= @morty.description %></p>
    </div>
  </div>
</div>

<%= simple_form_for [@morty, @reservation] do |f| %>
  <%= f.button :submit, "Reservation", class: "btn btn-danger btn-lg"%>
<% end %>


<h3>Reviews</h3>
  <% if @morty.reviews.empty? %>
    <p>Be the first to let a review</p>
  <% else %>
    <ul class="list-group">
      <% @morty.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge badge-primary badge-pill">
            <% counter = 0 %>
            <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
            <% end %>
          </span>
          <%= review.description %>
        </li>
      <% end %>
    </ul>
  <% end %>


