<div class="container">
  <div class="row card-large bg-light shadow p-5 mb-5 margin-top-80px bg-white d-flex justify-content-center ">
    <div class="header-shadow"><%= @morty.name %> </div>
    <div class="col-sm-offset-2 col-sm-8 d-flex justify-content-between">
      <% if @reservation.confirmation? %>
      <%= image_tag "booked.png", alt: "booked", id: "booked-img" %>
      <% end %>
      <div>
        <font size="+1">
          <span class="highlight"><i>Description :</i></span>
          <p><i><%= @morty.description.capitalize %></i></p>
          <span class="highlight"><i>State :</i></span>
          <p><i><%= @morty.state.capitalize %></i></p>
          <span class="highlight"><i>Rarity :</i></span>
          <p><i><%= @morty.rarity.capitalize %></i></p>
          <span class="highlight"><i>Owner :</i></span>
          <p> <i><%= @morty.user.full_name %></i></p>
          <span class="highlight"><i>Price : (per day)</i></span>
          <p style="padding-left:40px"><strong><font size="+5"><%= @morty.price%>$</strong></font></p>
        </font>
      </div>
      <div>
        <%= cl_image_tag @morty.photo.key, height: 325, width: 150%>
      </div>
    </div>
    <% if @reservation.user == current_user && (@reservation.favori.nil? || @reservation.favori == false) && @reservation.confirmation? %>
    <%= link_to reservation_path(@morty.reservations.last), method: :patch do %>
    <i class='far fa-heart'></i>
    <% end %>
    <% elsif  (@reservation.user == current_user && @reservation.favori == true)%>
    <i class="fas fa-heart"></i>
    <% end %>
  </div>


  <% if @reservation.pending? && @morty.user == current_user %>
  <div class="d-flex justify-content-center">
    <%= link_to "Validate", morty_path(@morty), class:"validation-button", method: :patch  %>
    <%= link_to "Reject", reservation_path(@reservation), class:"rejection-button", method: :delete  %>
  </div>
  <% elsif @reservation.pending?%>
  <p class="status-text">Ce Morty est en cours de réservation</p>
  <% elsif @reservation.confirmation?%>
  <p class="status-text"><%= @morty.name %> is already Booked</p>
  <% elsif @morty.user == current_user  %>
  <p class="status-text">Vous êtes le propriétaire</p>
  <% else %>
  <div class="w-50 text-center m-auto">
    <%= simple_form_for [@morty, @reservation] do |f| %>
    <%= f.button :submit, "Book this Morty !", class: "btn btn-light btn-lg btn-block"%>
    <% end %>
  </div>
  <% end %>

  <div class="row card-large bg-light shadow p-5 margin-top-80px mb-5 bg-white d-flex justify-content-center">
    <div class="header-shadow">Reviews</div>
    <div class="col-sm-offset-2 col-sm-8">
      <% if @morty.reviews.empty? %>
      <font size="+1">
        <p class="text-center" style="padding-top: 30px">Be the first to let a review</p>
      </font>
      <% else %>
      <ul class="list-group">
        <% @morty.reviews.each do |review| %>
        <li>
          <span class="badge badge-primary badge-pill">
            <% counter = 0 %>
            <% 5.times do %>
            <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
            <% counter += 1 %>
            <% end %>
          </span>
          <%= review.description %>
        </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>




