<h1 class="text-center"><%= @morty.name %></h1>

<div class="container">

  <div class="row">
    <div class ="photo-row">
      <div class="col-xs-12 col-sm-6">
        <div class="wagoncard showmaincard">
            <div class="wagoncard-detail">
              <p>Price: <strong> <%= @morty.price %> </strong> </p>
              <p>Actual state of Morty: <strong> <%= @morty.state %> </strong> </p>
              <p>Rarity of Morty: <strong> <%= @morty.rarity %> </strong> </p>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">

      <p> <strong>Description:</strong> </p>
      <p><%= @morty.description %></p>
    </div>
  </div>
</div>

<% if @reservation.pending? && @morty.user == current_user %>
    <%= link_to "Validate", morty_path(@morty), method: :patch  %>
<% elsif @reservation.pending?%>
    <p>Ce Morty est réservé</p>
<% elsif @reservation.confirmation?%>
  <p>Ce morty vient d'être réservé</p>
<% else %>
  <%= simple_form_for [@morty, @reservation] do |f| %>
  <%= f.button :submit, "Reservation", class: "btn btn-danger btn-lg"%>
  <% end %>
<% end %>

