<div class="container">
    <div class="row card-large bg-light shadow p-5 mb-5 margin-top-80px bg-white d-flex justify-content-center ">
        <div class="header-shadow"><%= @morty.name %></div>
        <div class="col-sm-offset-2 col-sm-8 d-flex justify-content-between">
          <div>
            <span class="highlight">Description :</span>
            <p><%= @morty.description %></p>
            <span class="highlight">State :</span>
            <p><%= @morty.state %></p>
            <span class="highlight">Rarity :</span>
            <p><%= @morty.rarity %></p>
            <span class="pricing"><%= @morty.price %>$</span>
          </div>
          <div>
            <%= cl_image_tag @morty.photo.key, height: 300, width: 400, crop: :fill , class: "img-morty"%>
          </div>
        </div>
    </div>
    <div class="w-50 text-center m-auto">
      <%= simple_form_for [@morty, @reservation] do |f| %>
        <%= f.button :submit, "Book this Morty !", class: "btn btn-light btn-lg btn-block"%>
      <% end %>
    </div>

    <div class="row card-large bg-light shadow p-5 margin-top-80px mb-5 bg-white d-flex justify-content-center">
        <div class="header-shadow">Reviews</div>
        <div class="col-sm-offset-2 col-sm-8">
          <% if @morty.reviews.empty? %>
            <p>Be the first to let a review</p>
          <% else %>
       <ul class="list-group">

          <% @morty.reviews.each do |review| %>
        <li>
          <span class="badge badge-primary badge-pill">
            <% counter = 0 %>
            <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
            <% end %>
          </span>
          <%= review.description %>
        </li>
          <% end %>
       </ul>
          <% end %>

        </div>
    </div>
</div>


<% if @reservation.pending? && @morty.user == current_user %>
    <%= link_to "Validate", morty_path(@morty), method: :patch  %>
<% elsif @reservation.pending?%>
    <p>Ce Morty est réservé</p>
<% elsif @reservation.confirmation?%>
  <p>Ce morty vient d'être réservé</p>
<% else %>
  <%= simple_form_for [@morty, @reservation] do |f| %>
  <%= f.button :submit, "Reservation", class: "btn btn-danger btn-lg"%>
  <% end %>
<% end %>
