<div class="container">
    <div class="row morty-description bg-light shadow p-3 mb-5 bg-white rounded">
        <div class="col-sm-offset-2 col-sm-8">
            <h1 class="header-shadow"><%= @morty.name %></h1>
            <p>Description : <%= @morty.description %></p>
            <p>State : <%= @morty.state %></p>
            <p>Rarity : <%= @morty.rarity %></p>
            <span><%= @morty.price %>$</span>
        </div>
    </div>
    <div class="w-50 text-center">
      <%= simple_form_for [@morty, @reservation] do |f| %>
        <%= f.button :submit, "Reservation", class: "btn btn-danger btn-lg btn-block"%>
      <% end %>
    </div>

    <div class="row morty-reviews bg-light shadow p-3 mb-5 bg-white rounded">
        <div class="col-sm-offset-2 col-sm-8">
          <h2 class="header-shadow">Reviews</h2>
          <% if @morty.reviews.empty? %>
            <p>Be the first to let a review</p>
          <% else %>
       <ul class="list-group">
          <% @morty.reviews.each do |review| %>
        <li>
          <span class="badge badge-primary badge-pill">
            <% counter = 0 %>
            <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
            <% end %>
          </span>
          <%= review.description %>
        </li>
          <% end %>
       </ul>
          <% end %>

        </div>
    </div>
</div>
  

