<div class="container">
    <div class="row card-large bg-light shadow p-5 mb-5 margin-top-80px bg-white d-flex justify-content-center ">
        <div class="header-shadow"><%= @morty.name %> </div>
          <div class="col-sm-offset-2 col-sm-8 d-flex justify-content-between">
            <% if @reservation.confirmation? %>
              <%= image_tag "booked.png", alt: "booked", id: "booked-img" %>
            <% end %>
            <div>
              <span class="highlight">Description :</span>
              <p><%= @morty.description %></p>
              <span class="highlight">State :</span>
              <p><%= @morty.state %></p>
              <span class="highlight">Rarity :</span>
              <p><%= @morty.rarity %></p>
              <span class="highlight">Owner :</span>
              <p><%= @morty.user.full_name %></p>
              <span class="highlight">Price : ($ per day)</span>
              <p><%= @morty.price  %></p>
            </div>
            <div>
              <%= cl_image_tag @morty.photo.key, height: 325, width: 150%>
            </div>
          </div>
    </div>

<% if @reservation.pending? && @morty.user == current_user %>
  <div class="d-flex justify-content-center">
      <%= link_to "Validate", morty_path(@morty), class:"validation-button", method: :patch  %>
      <%= link_to "Reject", reservation_path(@reservation), class:"rejection-button", method: :delete  %>
  </div>
<% elsif @reservation.pending?%>
    <p class="status-text">Ce Morty est en cours de réservation</p>
<% elsif @reservation.confirmation?%>
  <p class="status-text"><%= @morty.name %> is already Booked</p>
<% elsif @morty.user == current_user  %>
  <p class="status-text">Vous êtes le propriétaire</p>
<% else %>
  <div class="w-50 text-center m-auto">
    <%= simple_form_for [@morty, @reservation] do |f| %>
      <%= f.button :submit, "Book this Morty !", class: "btn btn-light btn-lg btn-block"%>
    <% end %>
  </div>
<% end %>

    <div class="row card-large bg-light shadow p-5 margin-top-80px mb-5 bg-white d-flex justify-content-center">
        <div class="header-shadow">Reviews</div>
        <div class="col-sm-offset-2 col-sm-8">
          <% if @morty.reviews.empty? %>
            <p>Be the first to let a review</p>
          <% else %>
             <ul class="list-group">
                <% @morty.reviews.each do |review| %>
              <li>
                <span class="badge badge-primary badge-pill">
                  <% counter = 0 %>
                  <% 5.times do %>
                    <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                    <% counter += 1 %>
                  <% end %>
                </span>
                <%= review.description %>
              </li>
                <% end %>
             </ul>
          <% end %>
        </div>
    </div>
</div>




