<div>
  <%= link_to morty_path(morty) do %>
    <div class="card card-small">
      <%= image_tag "booked.png", alt: "booked", id: "booked-img-small" if morty_display_image_condition %>
      <%= cl_image_tag morty.photo.key %>
      <div class="card-body">
        <h5 class="card-title header-shadow-small"><%= morty.name %> </h5>
        <p>State: <%= morty.state %></p>
        <p>Rarity: <%= morty.rarity %></p>
        <h6>Price: <%= morty.price %> $</h6>
      </div>
    </div>
  <% end %>
  <% if morty.reservations.last.present? && morty.reservations.last.pending? && current_page?(my_morties_path) %>
    <div class="btn-validate-reject">
      <%= link_to "Validate", morty_path(morty), class:"validation-button", method: :patch  %>
      <%= link_to "Reject", reservation_path(morty.reservations.last), class:"rejection-button", method: :delete  %>
    </div>
  <% end %>
</div>
