<div class="container">
  <div class="banner">
    <h1 class="banner-title">The Morty you want is waiting for you pal !</h1>
      <%= simple_form_for :request, url: morties_path, method: :get  do |f| %>
        <div id="search">
          <div class="row justify-content-center align-items-center">
            <div class="col-12 d-flex justify-content-center">
              <div class="row w-50">
                <div class="col-9 px-2 my-auto">
                  <%= f.input :name, placeholder: "Type this little brat's name", label: false %>
                </div>
                <div class="col-3 d-flex px-0">
                  <%= f.button :submit, "Find your new Morty", class: "home-btn" %>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row justify-content-center align-items-center">
            <div class="col-3">
              <%= f.input :price, placeholder: "How much for him, you cheapfuck", collection: Morty::PRICE %>
            </div>
            <div class="col-3">
              <%= f.input :state, collection: Morty::STATE %>
            </div>
            <div class="col-3">
              <%= f.input :rarity, collection: Morty::RARITY %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="home-headers">
        <h2> Lazy and hungover ? <a href="#last-morties" class="home-btn-alternative"><i class="fas fa-caret-down"></i> Scroll and find what we have ! <i class="fas fa-caret-down"></i></a></h2>
        <br>
        <h2> Need money after a crazy night on Pluton ? <%= link_to new_morty_path(@morty), class: "home-btn-alternative" do %><i class="fas fa-dollar-sign"></i> Share your Morty ! <i class="fas fa-dollar-sign"></i><% end %></h2>
      </div>
  </div>
  <div class="last-morties" id="last-morties">
    <h2 class="list-header"> Check our latest Morties : </h2>
      <div class="cards-all">
        <% @morties.each do |morty| %>
          <% last_reservation = morty.reservations.last %>
          <% morty_display_image_condition = last_reservation.present? && last_reservation.confirmation? %>
          <%= render 'shared/cards-small', morty: morty, morty_display_image_condition: morty_display_image_condition %>
        <% end %>
      </div>
  </div>
</div>
