<div class="container">
  <div class="banner">
    <h1 class="banner-title">The Morty you want is waiting for you pal !</h1>
      <%= simple_form_for :search, url: morties_path, method: :get do |f| %>
        <div id="search">
          <div class="row justify-content-center align-items-center">
            <div class="col-12 d-flex justify-content-center">
              <div class="row w-50">
                <div class="col-9 px-0">
                  <%= f.input :name, placeholder: "Type this little brat's name", label: false %>
                </div>
                <div class="col-3 d-flex px-0">
                  <%= f.button :submit, "Find your new Morty", class: "home-btn" %>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row justify-content-center align-items-center">
            <div class="col-3">
              <%= f.input :price, placeholder: "How much for him, you cheapfuck", collection: Morty::PRICE %>
            </div>
            <div class="col-3">
              <%= f.input :state, collection: Morty::STATE %>
            </div>
            <div class="col-3">
              <%= f.input :rarity, collection: Morty::RARITY %>
            </div>
          </div>
        </div>
      <% end %>
      <h2> Lazy and hungover ? <%= link_to 'Scroll and find what we have !', morties_path(@morty) %> </h2>
      <h3> Do you need some money after a crazy night on Pluton ?</h3>
      <h3> We have the solution: <%= link_to 'Share your Morty !', new_morty_path(@morty) %> </h3>
  <br>
      <h4> Check our latest Morties : </h4>
      <div class="container">
        <div class="cards-all">
          <% @morties.each.first(6) do |morty| %>
            <%= link_to morty_path(morty) do%>
              <div class="card card-small" style="width: 18rem;">
                <%= cl_image_tag morty.photo.key %>
                <div class="card-body">
                  <h5 class="card-title header-shadow-small"><%= morty.name%> </h5>
                  <p>State: <%= morty.state %></p>
                  <p>Rarity: <%= morty.rarity %></p>
                  <h6>Price: <%= morty.price %> $</h6>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
</div>
